APP_ENV=development

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=dev_password
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_LOCAL_PORT=27017
MONGO_DATABASE=dental_crm_dev
MONGO_DEMO_DATABASE=dental_crm_demo
MONGO_DEV_DB=dental_crm_dev
MONGO_DEMO_DB=dental_crm_demo
MONGO_ACTIVE_DB=dental_crm_dev
MONGO_CONNECT_MAX_RETRIES=5
MONGO_RETRY_DELAY_SECONDS=2
MONGO_TIMEOUT_MS=3000

STREAMLIT_PORT=8501
